.cor {
    width: 100%; /* Largura da imagem ajustada */
    height: auto; /* Mantém a proporção */
    max-height: 200px; /* Limita a altura da imagem */
    object-fit: contain; /* Nao Corta a imagem para preencher o espaço */
    border-radius: 8px; /* Bordas arredondadas */
}
.custom-background {
    background-color: #E89BA8; /* Cor de fundo do container */
    padding: 20px; /* Adicione algum espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    flex: 1; /* Expande para preencher o espaço disponível */
    margin-top: 0.1rem;
}
.custom-card .cor {
    width: 100%; /* Largura da imagem ajustada */
    height: auto; /* Mantém a proporção */
    max-height: 200px; /* Limita a altura da imagem */
    object-fit: contain; /*nao Corta a imagem para preencher o espaço */
}