/* Register.css */

/* Estilos gerais */
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

/* Estilo para o botão personalizado */
.custom-btn {
    background-color: #007bff; /* Cor do botão */
    border: none; /* Remove a borda padrão */
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Menos padding em telas menores */
    }
    
    .custom-btn {
        width: 100%; /* Botão ocupa toda a largura */
    }
}

/* Desktop */
@media (min-width: 769px) {
    .container {
        padding: 20px; /* Mais padding em telas maiores */
    }
}
